.jumbotron{
    text-align: center;
    font-family: 'Quicksand', sans-serif !important;
    background-color: deepskyblue;
    padding-left: 0px;   
}

.job-description-header, .resume-header{
    font-family: 'Quicksand', sans-serif !important;
    text-align: center;
}

textarea{
    max-height: 800px;
    max-width: 850px;
}

#submit-button{
    margin-left: 275px;
}


